<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/card.css" />

</head>

<body>
    <div class="container">
        <div class="card-group">
            <div class="flip-container">
                <div class="front">
                    <img src="./img.png" alt="" />
                    <div class="footer">
                        <p>
                            <strong>Title</strong>
                            <br> Film category
                        </p>
                    </div>
                </div>
                <div class="back">
                    <p>
                        <strong>Film title</strong>
                        <br>
                        <br> Film info
                        <br> More info
                        <br> Much more info
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>
