
/* .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
} */

.flip-container {
    margin: 20px;
    cursor: pointer;
    width: 240px;
    height: 540px;
    
    
    transition: all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition: all .2s;
    perspective: 1000;
    
    
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style: preserve-3d;
    
   border-radius: 15px;
   
    
}


.front, .back {
    text-align: center;
    -webkit-backface-visibility:hidden ;
    -moz-backface-visibility:hidden ;
    -ms-backface-visibility:hidden ;
    -o-backface-visibility:hidden ;
    backface-visibility: hidden;
    transition: all .5s;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    
}

.front {
    background: black;
}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.front .footer {
    padding-top: 10px;
    margin-top: -7px;
    width: 100%;
    height: 70px;
    position: relative;
    border-radius: 0 0 15px 15px;
    background-color: hotpink;
    
}

.back {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 410px;
    background: hotpink;
    transform: rotateY(-180deg);
    -webkit-transform:rotateY(-180deg) ;
    -moz-transform:rotateY(-180deg) ;
    -ms-transform:rotateY(-180deg) ;
    -o-transform:rotateY(-180deg) ;
}

.back p {
    padding: 35px;
    font-family: sans-serif;
    text-align: center;
    color: #333;
}

.flip-container .front {
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg) ;
    -moz-transform:rotateY(0deg) ;
    -ms-transform:rotateY(0deg) ;
    -o-transform:rotateY(0deg) ;
    transform-style: preserve-3d;
    
}

.flip-container:hover .front {
    transform: rotateY(-180deg);
    -webkit-transform:rotateY(-180deg) ;
    -moz-transform:rotateY(-180deg) ;
    -ms-transform:rotateY(-180deg) ;
    -o-transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-container .back {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg) ;
    -moz-transform:rotateY(180deg) ;
    -ms-transform:rotateY(180deg) ;
    -o-transform:rotateY(180deg) ;
    transform-style: preserve-3d;
    
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg) ;
    -moz-transform:rotateY(0deg) ;
    -ms-transform:rotateY(0deg) ;
    -o-transform: rotateY(0deg);
    transform-style: preserve-3d;
}



