@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');


/* .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
} */

.flip-container {
    margin: 20px;
    cursor: pointer;
    width: 240px;
    height: 340px;
    
    
    transition: all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition: all .2s;
    perspective: 1000;
    
    
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style: preserve-3d;
    
   
   border-radius: 15px;
   
    
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}


.front, .back {
    text-align: center;
    -webkit-backface-visibility:hidden ;
    -moz-backface-visibility:hidden ;
    -ms-backface-visibility:hidden ;
    -o-backface-visibility:hidden ;
    backface-visibility: hidden;
    transition: all .5s;
    /* border: 1.5px solid #FF0198; */
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    
}

.front {
    background: black;
}

.front img {
    width: 100%;
    max-height: 340px;
    border-radius: 15px 15px 15px 15px;
}

.back {
    position: absolute;
    overflow: hidden;
    top: 0;
    color: #FF0198;
    line-height: 20px;
    width: 100%;
    height: 340px;
    background: #333;
    transform: rotateY(-180deg);
    -webkit-transform:rotateY(-180deg) ;
    -moz-transform:rotateY(-180deg) ;
    -ms-transform:rotateY(-180deg) ;
    -o-transform:rotateY(-180deg) ;
}

.back h3 {
    margin-top: 10px;
}

.back p {
    margin-top: -10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FF0198;
}

.flip-container .front {
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg) ;
    -moz-transform:rotateY(0deg) ;
    -ms-transform:rotateY(0deg) ;
    -o-transform:rotateY(0deg) ;
    transform-style: preserve-3d;
    
}

.flip-container:hover .front {
    transform: rotateY(-180deg);
    -webkit-transform:rotateY(-180deg) ;
    -moz-transform:rotateY(-180deg) ;
    -ms-transform:rotateY(-180deg) ;
    -o-transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-container .back {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg) ;
    -moz-transform:rotateY(180deg) ;
    -ms-transform:rotateY(180deg) ;
    -o-transform:rotateY(180deg) ;
    transform-style: preserve-3d;
    
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg) ;
    -moz-transform:rotateY(0deg) ;
    -ms-transform:rotateY(0deg) ;
    -o-transform: rotateY(0deg);
    transform-style: preserve-3d;
}



