#reviews{
    color: white;
    height: 380px;
    width: auto;
    background-color: #FF0198 !important;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}

h5{
    text-align: center;
    margin-top: 10px;
}

li{
    display: inline;
    margin: 20px;
}

.cast { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.cast div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.cast div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .cast div { margin: 0; }
  .cast { padding: 0; }
  
}