.footer{
    width: 98%;
    margin-top: 20px;
    height: 100px;
    background-color: #646464;
    color:white;
    
}

.imgFooter{
    width: 130px;
    height: 60px ;
    padding-top: 10px;
    margin-top: 10px
}

.imgSkyFooter{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    margin-top: 10px
}

.row {
     margin-left: 20px;
    }
    
.col-sm-2{
    display: inline-block;
    margin: 0 auto;
}
.col-sm-10{
    font-size: 12px;
    
   
}

label {
    margin-top: 20px;
    line-height: 1.6px;
}

ul{
    list-style: none;
}