@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.App {
 background-color: #424247; 
  font-family: 'Roboto', sans-serif;
}

.btn-outline-success{
  color:#FF0198 !important;
  border-color: #FF0198 !important;
}
  
.btn-outline-success:hover{
  background-color: #FF0198;
  color: gray !important;
  border-color: gray !important;
}

.jumbotron-fluid{
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 140px;

}

.carousel-inner img {
  width: 100%;
  max-height: 500px;
}
