.resume{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.colum1{
    width: 500px;
    margin-left: 30px;
}
.colum2 {
    width: 600px;
    color: white;
    text-align: justify;
}
