
.App-header {
    height: 30px;
}

#header {
    height: 80px;
} 

.btn-outline-success{
  color:#FF0198 !important;
  border-color: #FF0198 !important;
}
  
.btn-outline-success:hover{
  background-color: #FF0198;
  color: gray !important;
  border-color: gray !important;
}


@media screen and (max-width: 400px){
    .App-header {
        background-color: black;
    height: 30px;
}

#header {
    
    height: 60px;
} 
#navbarCollapse{
    width: 300px;
   background-color: black; 
}
  }

